body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.navbar {
    margin-bottom: 20px;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;    
    background-color: #009282;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidebar a:hover {
    background-color: #000000;
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.table-responsive {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    .content {
        margin-left: 0;
    }
}
@media (max-width: 576px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}